@using Store.Models
@model IEnumerable<Store.Models.ProductViewModel>
@{
    ViewBag.Title = "Products";
   
}

<h2>Product</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Название</th>
        <th>Описание</th>
    </tr>
    </thead>
    <tbody>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Info</td>
        </tr>

    }
    </tbody>
</table>
